h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 27px;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-form-field, input {
    width: 100%;
    height: 30px;
}