<link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
<h1>Form of register person</h1>
<div class="center-content">
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()" style="width: 70%;"> 
        <div class="form-element">
            <label for="id">Id</label>
            <input type="text" name="id" id="id" class="form-input" formControlName="personId">
            <small class="form-help">Please enter your id.</small>
        </div>
        <div class="form-element">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" class="form-input" formControlName="personName">
            <small class="form-help">Please enter your complete name.</small>
        </div>
        <div class="form-element">
            <label for="age">Age</label>
            <input type="number" name="age" id="age" class="form-input" formControlName="personAge">
            <small class="form-help">Please enter your age. Values between 1 and 100.</small>
        </div>
        <div class="form-element form-check">
            <label><span style="margin-right: 10px;">Sex:</span>
                <input type="radio" name="sex" id="female" value="F" class="form-check" formControlName="personSex">
                <label for="female">Female</label>
                <input type="radio" name="sex" id="male" value="M" class="form-check" formControlName="personSex">
                <label for="male">Male</label>
            </label>
        </div>
        <div class="form-element">
            <span>Pulsations: {{ pulsations }}</span> 
        </div>
        <div class="center-content">
            <button type="button" class="dodger_blue" (click)="calculatePulsations()">Calculate pulsation</button>
            <button type="submit" class="dodger_blue">Register person</button>
        </div>
        <div class="center-content" *ngIf="invalidForm">
            <div class="information-block error-block">
                <span class="message">
                    Please fill required fields.
                </span>
            </div>
        </div>
    </form>
</div>
