h1 {
    margin-bottom: 20px;
}

label, span, h1, .form-input, .form-check, .form-help {
    font-family: 'Varela Round', sans-serif;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

mat-form-field, input {
    width: 100%;
    height: 30px;
}