<div class="center-content">
    <div *ngIf="person; else notFound">
        <h1>Details about {{person.name}}</h1>
        <div class="center-content">
            <div class="person-detail">
                <div class="row">
                    <div class="label">
                        <span>Id:</span>
                    </div>
                    <div class="info">
                        <span>{{ person.personId }}</span>
                    </div>
                </div>
                <div class="row">
                    <span class="label">Name:</span>
                    <span class="info">{{ person.name }}</span>
                </div>
                <div class="row">
                    <span class="label">Age:</span>
                    <span class="info">{{ person.age }}</span>
                </div>
                <div class="row">
                    <span class="label">Sex:</span>
                    <span class="info">{{ person.sex }}</span>
                </div>
                <div class="row">
                    <span class="label">Pulsations:</span>
                    <span class="info">{{ person.pulsations }}</span>
                </div>
                <div class="center-content">
                    <button class="btn" (click)="goBack()">Go back</button>
                    <button class="btn" (click)="editPerson(person)">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notFound>
    <div class="center-element not-found-msg">
        <h1>Not found person.</h1>
        <button mat-button class="blue_ryb" (click)="registerPerson()">Do you want register it?</button>
    </div>
</ng-template>