<mat-toolbar class="royal_azure">
  <div class="mat-option">
    <a mat-button routerLink="/" class="royal_azure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a mat-button routerLink="register" class="royal_azure" routerLinkActive="active">Register person</a>
    <a mat-button routerLink="people" class="royal_azure" routerLinkActive="active">People</a>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="mobile-menu royal_azure">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu" class="royal_azure" style="min-width: 250px;">
    <a mat-button routerLink="/" class="royal_azure" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
    <a mat-button routerLink="register" class="royal_azure" routerLinkActive="active">Register person</a>
    <a mat-button routerLink="people" class="royal_azure" routerLinkActive="active">People</a>
  </mat-menu>
</mat-toolbar>

